@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@if (ViewBag.AccessToken != null && ViewBag.AccessToken != "")
{
    <div>
        <strong>Access Token:</strong>
        <pre>@ViewBag.AccessToken</pre>
    </div>
}
